In [2]:
1

1

# Data Science tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- python
- R
- watson studio
- jupyter notebook
- Scala

Some of the popular languages that Data Scientists use are:
1. python
2. java
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. numpy
3. matplotlab

|data science tools|
|------------|
|plotly|
|pandas|
|matplotlab|

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author

Abdulrahman Bello